/* ===========================
   VARIABLES
=========================== */
  :root {
    --orange: #FF6B4A;
    --dark: #1A1A2E;
    --gray-bg: #F2F3F4;
    --gray-text: #8A8A8F;
    --white: #ffffff;
    --topbar-bg: #14141F;
  }
 /* ===========================
   RESET
=========================== */
 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
  body {
    font-family: 'Nunito', Arial, sans-serif;
    color: var(--dark);
  }
html{
    scroll-behavior: smooth;
}
input,
textarea,
select,
button{
    font-family: inherit;
}
img{
    max-width:100%;
    display:block;
}
.container{
    width:100%;
    max-width:1400px;
    margin:0 auto;
    padding:0 15px;
}
 /* ===========================
   COMMON
=========================== */
  a { text-decoration: none; color: inherit; }
  ul { list-style: none; }
 /* ===========================
   TOP BAR
=========================== */
  /* Top bar */
  .topbar {
    background: var(--topbar-bg);
    color: #ccc;
    font-size: 13px;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topbar-content{
    display:flex;
    justify-content:space-between;
    align-items:center;

    height:50px;
}
  .topbar .contact-info {
    display: flex;
    gap: 24px;
  }
  .topbar .contact-info span {
    display: flex;
    align-items: center;
    gap: 6px;
  }
.fa-twitter{
    color: #FF5A3C;
}
  .topbar .socials {
    display: flex;
    gap: 14px;
  }
  .topbar .socials span {
    width: 24px; height: 24px;
    border-radius: 50%;
    background: #26263a;
    display: flex; align-items: center; justify-content: center;
    font-size: 11px;
  }
  .topbar .socials span.twitter { color: var(--orange); }
 
/* ===========================
   HEADER
=========================== */
.main-nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
}
  header.main-nav {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px; */
    background: var(--white);
  }
  .nav-container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:90px;

    }
  .logo {
    font-size: 26px;
    font-weight: 800;
    display: flex;
    align-items: center;
  }
  .logo .c-icon {
    color: var(--orange);
    border: 3px solid var(--orange);
    border-radius: 50%;
    width: 34px; height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    font-size: 20px;
  }
  .logo .dot { color: var(--orange); }
 
  nav.links {
    display: flex;
    gap: 36px;
  }
  nav.links li a {
    font-weight: 600;
    font-size: 15px;
    color: var(--dark);
    padding-bottom: 6px;
  }
  nav.links li a.active {
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
  }
  nav.links {
    display: flex;
    align-items: center;
  }
  nav.links ul {
    display: flex;
    gap: 36px;
  }
 
  .nav-right {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .login-link {
    font-weight: 600;
    font-size: 15px;
  }
  .signup-btn {
    background: var(--orange);
    color: white;
    padding: 12px 26px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    border: none;
  }
 
/* ===========================
   HERO
=========================== */
  .hero {
    background: var(--gray-bg);
    /* width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    position: relative;
    padding: 0 0 0 60px; */
  }
.hero-content{
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    gap: 40px;
}

.hero-image-wrap{
    position: relative;
    width: 100%;
    aspect-ratio: 867 / 703;
    background: #c4c4c4;
    border-radius: 8px;
}
.hero-image-wrap img{
    width:100%;
    height:100%;
    object-fit:cover;
}
  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0;
    max-width: 560px;
  }
.hero-arrow{
    width:220px !important;
    height:auto !important;

    position:absolute;
    top:120px;
    right:320px;

    z-index:2;
    pointer-events:none;
}
 
  .hero-text h1 {
    font-size: 46px;
    font-weight: 800;
    line-height: 1.2;
    color: var(--dark);
    margin-bottom: 24px;
  }
 
  .hero-text p {
    color: var(--gray-text);
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 32px;
    max-width: 420px;
  }
 
  .swoosh {
    margin-bottom: 8px;
    margin-top: 4px;
  }
 
  .cta-btn {
    background: var(--orange);
    color: white;
    border: none;
    padding: 16px 30px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
 
  .thumbnails {
    display: flex;
    margin-top: 60px;
    align-items: center;
    gap: 20px;
  }

  .thumb-row {
    display: flex;
    align-items: flex-end; /* Căn đáy */
    gap: 8px;
}

.thumb {
    width: 90px;
    background: #b9b9b9;
    display: flex;
    align-items: flex-end;
    padding: 6px;
    font-size: 9px;
    color: white;
    font-weight: 600;
}

.thumb {
    height: 80px;   /* House 1 */
}

.thumb-2 {
    height: 65px;   /* House 2 */
}

.thumb-3 {
    height: 50px;   /* House 3 */
}
  .thumb:first-child { background: #a8a8a8; }
  .dots {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    color: var(--gray-text);
  }
  .dots .active-dot { color: var(--dark); font-weight: 700; }
  .dots .line {
    width: 30px;
    height: 1px;
    background: #999;
  }
 
 /* ===========================
   REVENUE CARD
=========================== */
  .revenue-card {
    position: absolute;
    left: -30px;
    bottom: -30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    padding: 20px 26px;
    width: 165px;
  }
 .revenue-icon{
    width: 40px;   /* chỉnh theo ý muốn */
    height: auto;
    display: block;
}
 .revenue-card .revenue-icon{
    width: 40px !important;
    height: auto !important;
}
  .revenue-card .amount {
    font-size: 22px;
    font-weight: 800;
    color: var(--dark);
    margin-bottom: 2px;
  }
  .revenue-card .label {
    font-size: 13px;
    color: var(--gray-text);
  }
 
  .how-it-works {
    position: absolute;
    right: 1px;
    bottom: 2px;
    background: var(--orange);
    color: white;
    padding: 14px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0 10px 30px rgba(255,107,74,0.35);
  }
  .play-btn {
    width: 32px;
    height: 32px;
    background: rgba(255,255,255,0.25);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
 
  .bottom-space {
    height: 60px;
    background: var(--white);
  }

  /* ===========================
   GUIDES
=========================== */

.guides{
    padding:100px 0;
}

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size:42px;
    font-weight:700;
    margin-bottom:16px;
}

.section-title p{
    color:#777;
}

.guide-list{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.guide-card{
    background:#fff;
    padding:40px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.guide-card.active{
    background:var(--orange);
    color:#fff;
}

.guide-icon{
    display: block;
    margin: 0 auto 20px;
    width: 80px;
    height: auto;
    transform: scale(1.5);
    transform-origin: center;
}
.guide-icon img{
    width: 40px;   /* hoặc theo Figma */
    height: auto;
    display: block;
}

.guide-card h3{
    margin-bottom:15px;
}

/* ===========================
   DREAM
=========================== */

.dream{
    padding:100px 0;
}

.dream-content{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:70px;
    align-items:center;
}

/* Left */

.dream-images{
    position: relative;
    width: 100%;
    height: 650px;
}

.img-box{
    position: absolute;
    width: 340px;
    height: 527px;
    overflow: hidden;
    background: #c4c4c4;
}

.img-box img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.img-back{
    right: 0;
    top: 0;
    z-index: 1;
}
.img-front{
    left: 20px;
    bottom: 0;
    z-index: 2;
}

.rating-card{
    position:absolute;
    top:-22px;
    left:605px;
    width:120px;
    height:120px;
    background:#081c22;
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:3;
}

.rating-card p{

    margin-top:10px;

    font-size:16px;

}

.rating-card span{
    display:block;
    margin-top:6px;
    color:#777;
    font-size:14px;
}

/* Right */

.section-subtitle{
    color:var(--orange);
    font-weight:600;
}

.dream-text h2{
    font-size:42px;
    margin:20px 0;
}

.dream-text>p{
    color:#777;
    line-height:1.8;
    margin-bottom:40px;
}

.feature-list{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.feature-item{
    display:flex;
    gap:20px;
    align-items:flex-start;
}

.feature-icon{
    width:40px;
    height:40px;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
}

.feature-item h4{

    margin-bottom:8px;

    font-size:18px;
}

.feature-item p{

    color:#777;
}

.today-sell{

    padding:120px 0;

    background:#fff;

}

.section-title{

    text-align:center;

    margin-bottom:60px;

}

.subtitle{

    color:var(--orange);

    font-size:14px;

    font-weight:700;

    letter-spacing:2px;

    text-transform:uppercase;

    margin-bottom:12px;

}

.section-title h2{

    font-size:48px;

    font-weight:700;

    line-height:1.3;

}

/* ===========================
   TODAY SELL
=========================== */

.section-tag{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.section-tag img{
    width: 18px;      /* chỉnh theo Figma */
    height: 18px;
    display: block;
}
.today-content{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

    align-items:center;

}
.today-right{

    display:flex;

    gap:20px;

}
.img-large{

    width:340px;

    height:620px;

    background:#c4c4c4;

}
.img-small-group{

    display:flex;

    flex-direction:column;

    gap:20px;

}
.img-small{

    width:280px;

    height:300px;

    background:#c4c4c4;

}

 .today-list{
    list-style: none;
    padding: 0;
    margin: 32px 0 0;
}

.today-list li{
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 24px;

    color: #8A97A6;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}

.today-list li::before{
    content: "";
    width: 16px;
    height: 16px;
    background: #FF5A3C;
    flex-shrink: 0;
}

.today-left h2{
    font-size: 38px;      /* Tăng kích thước chữ */
    font-weight: 700;     /* Độ đậm */
    line-height: 1.2;     /* Khoảng cách giữa các dòng nếu tiêu đề xuống dòng */
    color: #071C1F;
    margin: 20px 0 28px;  /* Trên | Trái phải | Dưới */
}

/* ===========================
   TODAY SLIDER
=========================== */

.today-slider{
    display:flex;
    align-items:flex-end;
    gap:30px;
    margin-top:50px;
}

.today-thumb-row{
    display:flex;
    align-items:flex-end;
}

.today-thumb{
    background:#c4c4c4;
    color:#fff;
    font-size:10px;
    font-weight:600;
    padding:8px;
    display:flex;
    justify-content:flex-start;
}

/* Bậc thang */
.thumb-1{
    width:120px;
    height:90px;
}

.thumb-2{
    width:95px;
    height:70px;
    margin-left:-8px;
}

.thumb-3{
    width:70px;
    height:50px;
    margin-left:-8px;
}

/* Dots */

.today-dots{
    display:flex;
    align-items:center;
    gap:12px;
}

.today-dots .line{
    width:40px;
    height:2px;
    background:#C4C4C4;
}

.today-dots span{
    color:#C4C4C4;
    font-size:16px;
}

.today-dots .active{
    color:var(--dark);
    font-weight:700;
}

/*======================
    SERVICES
=======================*/

.services{
    background:#f6f9fc;
    padding:100px 0;
}

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size:42px;
    color:#10275a;
    margin-bottom:15px;
}

.section-title p{
    color:#888;
    width:520px;
    margin:auto;
    line-height:1.8;
}

.service-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.service-card{
    background:#fff;
    border-radius:10px;
    padding:45px 30px;
    text-align:center;
    transition:.35s;
}

.service-card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(0,0,0,.08);
}

.service-icon{
    margin:auto;
    border-radius:15px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.service-icon i{
    color:#ff5a3c;
    font-size:28px;
}

.service-card h3{
    margin-bottom:15px;
    font-size:25px;
    color:#222;
}

.service-card p{
    color:#888;
    line-height:1.8;
    margin-bottom:30px;
}

.service-card a{
    color:#111;
    text-decoration:none;
    font-weight:600;
}

.service-card a i{
    margin-left:8px;
}

/*=========================
    FEATURED PROPERTY
==========================*/

.featured{
    padding:100px 0;
}

.featured-header{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    margin-bottom:55px;
}

.featured-title h2{
    font-size:42px;
    font-weight:700;
    color:#222;
    margin-bottom:18px;
}

.featured-title p{
    width:320px;
    color:#8b8b8b;
    line-height:1.8;
}

/*================ Tabs ================*/

.featured-menu{
    display:flex;
    gap:45px;
    list-style:none;
}

.featured-menu li{
    font-size:17px;
    color:#8b8b8b;
    cursor:pointer;
    padding-bottom:10px;
}

.featured-menu li.active{
    color:#ff5a3c;
    border-bottom:2px solid #ff5a3c;
}

/*================ Cards ================*/

.property-list{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;
}

.property-card{
    position: relative;
}

.property-image{
    width: 100%;
    height: 360px;
    background: #cfcfcf;
}

/* Khối chứa cả content và button */
.property-overlay{
    position: absolute;
    left: 0px;
    right: 20px;
    bottom: 0px;
    display: flex;
    align-items: flex-end; /* hoặc center */
}

/* Khối trắng */
.property-content{
    flex: 1;

    background: #fff;
    padding: 22px;

    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.property-content h3{
    margin-bottom: 12px;
    font-size: 18px;
}

.property-content p{
    margin-bottom: 18px;
    color: #777;
}

.property-content p i{
    color: #ff5a3c;
}

/* Price mặc định */
.property-content span{
    color: #222;
    font-size: 28px;
    font-weight: 700;
    transition: color .3s ease;
}

/* Button mặc định */
.property-btn{
    width: 70px;
    height: 70px;

    border: none;
    background: #efefef;
    color: #222;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all .3s ease;
}

/* Hover vào card */
.property-card:hover .property-content span{
    color: #ff5a3c;
}

.property-card:hover .property-btn{
    background: #ff5a3c;
    color: #fff;
}

.property-btn:hover{
    background: #ff5a3c;
    color: #fff;
}

/*================ Explore Button ================*/

.explore-btn{

    margin-top:70px;

    text-align:center;
}

.explore-btn button{

    width:170px;

    height:55px;

    border:1px solid #ff5a3c;

    background:#fff;

    color:#ff5a3c;

    cursor:pointer;

    transition:.3s;
}

.explore-btn button:hover{

    background:#ff5a3c;

    color:#fff;
}

.testimonial{

    padding:100px 0;
}

.testimonial-content{

    display:flex;

    align-items:center;

    justify-content:space-between;

    margin-top:60px;
}

.testimonial-image{

    position:relative;

    width:330px;

    height:360px;
}

.shape{

    position:absolute;

    left:0;

    bottom:0;

    width:220px;

    height:300px;

    background:#ff5a3c;

    border-radius:8px;
}

.image-placeholder{

    position:absolute;

    top:0;

    left:20px;

    width:230px;

    height:300px;

    background:#cfcfcf;

    border-radius:8px;
}

.testimonial-info{

    width:420px;
}

.quote{

    font-size:40px;

    color:#ffb4a6;

    margin-bottom:20px;
}

.testimonial-text{

    line-height:2;

    color:#555;

    margin-bottom:20px;
}

.rating{

    color:#ffc107;

    margin-bottom:25px;
}

.testimonial-info h3{

    font-size:24px;

    margin-bottom:8px;
}

.testimonial-info span{

    color:#999;
}

.testimonial-arrow{

    width:55px;

    height:55px;

    border-radius:50%;

    border:1px solid #ff5a3c;

    background:#fff;

    color:#ff5a3c;

    cursor:pointer;

    transition:.3s;
}

.testimonial-arrow:hover{

    background:#ff5a3c;

    color:#fff;
}

.testimonial-arrow.right{

    background:#ff5a3c;

    color:#fff;
}

.projects{
    padding:100px 0 120px;
}

.project-list{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;
    margin:60px 0 80px;
}

.project-card{
    position:relative;
}

.project-image{
    height:220px;
    background:#9c9c9c;
    border-radius:8px;
}

.project-overlay{
    position:absolute;
    inset:0;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.project-overlay h3{
    color:#fff;
    margin-bottom:30px;
}

.project-overlay button{
    width:150px;
    height:50px;

    border:none;
    border-radius:8px;

    background:#fff;
    color:#ff5a3c;

    cursor:pointer;
}
.subscribe-form{

    width:760px;

    margin:auto;

    display:flex;

    background:#f5f5f5;

    border-radius:10px;

    overflow:hidden;
}

.input-group{

    flex:1;

    display:flex;

    align-items:center;

    padding:0 25px;
}

.input-group i{

    color:#999;

    margin-right:15px;
}

.input-group input{

    flex:1;

    height:70px;

    border:none;

    outline:none;

    background:transparent;

    font-size:17px;
}

.subscribe-form button{

    width:200px;

    border:none;

    background:#ff5a3c;

    color:#fff;

    font-size:20px;

    font-weight:600;

    cursor:pointer;
}

/*======================
        BLOG
======================*/

.blog{

    padding:100px 0;
}

.blog-list{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;

    margin-top:60px;
}

/* Card */

.blog-card{

    background:#fff;

    transition:.35s;

    box-shadow:0 10px 35px rgba(0,0,0,.05);
}

.blog-card:hover{

    transform:translateY(-8px);
}

/* Image */

.blog-image{

    width:100%;

    aspect-ratio:16/10;

    background:#cfcfcf;
}

/* Content */

.blog-content{

    padding:24px;
}

.blog-content h3{

    font-size:28px;

    line-height:1.4;

    margin-bottom:20px;
}

.blog-category{

    color:#ff5a3c;

    margin-bottom:25px;

    display:flex;

    align-items:center;

    gap:10px;
}

.blog-content p{

    color:#777;

    line-height:1.9;

    margin-bottom:30px;
}

.blog-footer{

    display:flex;

    justify-content:space-between;

    flex-wrap:wrap;

    gap:15px;

    color:#666;
}

.blog-footer a{

    color:#ff5a3c;

    text-decoration:none;
}

/* Button */

.blog-btn{

    text-align:center;

    margin-top:70px;
}

.blog-btn button{

    width:190px;

    height:58px;

    border:1px solid #ff5a3c;

    background:#fff;

    color:#ff5a3c;

    cursor:pointer;

    transition:.3s;
}

.blog-btn button:hover{

    background:#ff5a3c;

    color:#fff;
}

/*=====================
        CONTACT
======================*/

.contact{

    padding:100px 0;
}

.sub-title{

    color:#ff5a3c;

    font-size:20px;

    font-weight:600;

    display:block;

    margin-bottom:15px;
}

.contact-wrapper{

    margin-top:70px;

    display:grid;

    grid-template-columns:1fr 460px;

    gap:80px;

    align-items:start;
}

/* LEFT */

.contact-desc{

    color:#777;

    line-height:2;

    margin-bottom:40px;

    max-width:500px;
}

.contact-list{

    list-style:none;

    margin-bottom:60px;
}

.contact-list li{

    margin-bottom:22px;

    font-size:18px;
}

.contact-list i{

    color:#ff5a3c;

    margin-right:12px;
}

/* IMAGE */

.contact-image{

    position:relative;

    width:520px;

    max-width:100%;

    height:330px;
}

.image-back{

    position:absolute;

    left:130px;

    bottom:0;

    width:390px;

    height:220px;

    background:#cfcfcf;

    border-radius:8px;
}

.image-front{

    position:absolute;

    left:0;

    top:0;

    width:260px;

    height:190px;

    background:#cfcfcf;

    border-radius:8px;
}

.square-orange{

    position:absolute;

    top:-35px;

    left:285px;

    width:70px;

    height:70px;

    background:#ff5a3c;

    border-radius:8px;
}

.square-black{

    position:absolute;

    top:-45px;

    left:330px;

    width:32px;

    height:32px;

    background:#333;

    border-radius:6px;
}

/* FORM */

.contact-form{

    background:#f5f8fb;

    border-radius:10px;

    padding:40px;
}

.contact-form h3{

    font-size:45px;

    margin-bottom:35px;
}

.form-group{

    margin-bottom:25px;
}

.form-group label{

    display:block;

    margin-bottom:10px;

    color:#666;
}

.form-group input,
.form-group textarea{

    width:100%;

    border:none;

    background:#fff;

    padding:18px;

    border-radius:8px;

    font-size:16px;

    outline:none;

    box-sizing:border-box;
}

.form-group textarea{

    height:140px;

    resize:none;
}

.contact-form button{

    width:120px;

    height:55px;

    border:none;

    background:#ff5a3c;

    color:#fff;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;
}

.contact-form button:hover{

    background:#e74b30;
}
/*======================
        FOOTER
=======================*/

.footer{

    position: relative;

    background:#1d2030;

    color:#b5b7c5;

    min-height:502px;

    padding:90px 0 40px;
}

/* Thanh màu cam dưới cùng */

.footer::after{

    content:"";

    position:absolute;

    left:0;

    bottom:0;

    width:100%;

    height:12px;

    background:#ff5a3c;
}

.footer-top{

    display:grid;

    grid-template-columns:1.4fr 1fr 1fr 1fr 1.8fr;

    gap:50px;
}

/* Logo */

.footer-logo{

    color:#fff;

    text-decoration:none;

    font-size:28px;

    font-weight:700;

    display:inline-flex;

    align-items:center;

    gap:10px;
}

.footer-logo i{

    color:#ff5a3c;
}

.footer-logo span{

    color:#ff5a3c;
}

.footer-item p{

    margin:28px 0;

    line-height:2;
}

/* Title */

.footer-item h3{

    color:#fff;

    margin-bottom:28px;

    font-size:20px;
}

/* List */

.footer-item ul{

    list-style:none;
}

.footer-item li{

    margin-bottom:18px;
}

.footer-item a{

    color:#b5b7c5;

    text-decoration:none;

    transition:.3s;
}

.footer-item a:hover{

    color:#ff5a3c;
}

/* Social */

.footer-social{

    display:flex;

    gap:15px;
}

.footer-social a{

    width:42px;
    height:42px;
    border:1px solid #ff5a3c;
    display:flex;
    justify-content:center;
    border-radius: 5px;
    align-items:center;
    color:#ff5a3c;
    transition:.3s;
}

.footer-social a:hover{

    background:#ff5a3c;

    color:#fff;
}

/* Newsletter */

.newsletter-title{

    margin-top:40px;
}

.footer-newsletter{

    display:flex;

    border-bottom:1px solid rgba(255,255,255,.15);

    padding-bottom:10px;
}

.footer-newsletter input{

    flex:1;

    border:none;

    background:none;

    color:#fff;

    outline:none;
}

.footer-newsletter button{
    width: 50px;
    height: 50px;

    border: none;
    background: none;
    color: #ff5a3c;
    cursor: pointer;
}
.footer-newsletter button i{
    font-size: 20px;
}
/* Bottom */

.footer-bottom{

    margin-top:70px;

    padding-top:35px;

    border-top:1px solid rgba(255,255,255,.08);

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

    gap:25px;
}

.footer-contact{

    display:flex;

    gap:60px;
}

.footer-contact a{

    color:#b5b7c5;

    text-decoration:none;

    border-bottom:2px solid #2d3555;

    padding-bottom:10px;
}
